.bs-callout {
  border-color: #eee;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 1px 7px;
  margin: 20px 0;
  padding: 20px;

  & > .callout-header {
    margin-bottom: 5px;
    margin-top: 0 !important;
    font-size: 1.2rem;
  }

  & > .callout-body {
    margin-bottom: 0;
    font-size: 1rem;
  }

  & code {
    border-radius: 3px;
  }
}

.bs-callout + .bs-callout {
  margin-top: -5px;
}

/*
  Ahora generamos las clases especificas para cada tema...
  TODO reveer porque los darks son muy darks o bien los mismos tonos que el base
  Ojo que hubo cambios entre BS4 y BS5
*/

@each $nombre, $valor in $theme-colors {

  @debug $nombre, $valor;
  
  $colorin: map-get($theme-colors, $nombre);

  .bs-callout-#{$nombre} {
    border-left-color: $colorin; //theme-color($nombre);

    & .callout-header {
      //  color: scale-color($colorin, 3);
      color: var(--#{$prefix}#{$nombre}-dark);
      //  otra alternativa es usar el color de tema dark generado por mi modulo themes.scss
      //  color: var(--warning-dark);
    }
  }
}

// .bs-callout-warning {
//   border-left-color: theme-color("warning");

//   & .callout-header {
//     color: theme-color-level("warning", 3);
//     //  otra alternativa es usar el color de tema dark generado por mi modulo themes.scss
//     //  color: var(--warning-dark);
//   }
// }