html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*
    ------------------------------------------------------------
                            LOGOTIPO
    ------------------------------------------------------------
*/

/*
  Agregados al template
*/
.logotipo-libptr {
  font-family: Pulso;
  font-weight: 800;
  font-size: 1.2em;
  color: var(--violeta-telecom-new);
  margin: 0;
}

a.logotipo-libptr {
  text-decoration: none !important;
}

  a.logotipo-libptr:hover {
    text-decoration: none !important;
    color: var(--violeta-telecom-new);
  }

.logotipo-libptr-small {
  font-family: Pulso;
  font-weight: 800;
  font-size: 2em;
  color: var(--violeta-telecom-new);
  margin: 0;
}

a.logotipo-libptr-small {
  text-decoration: none !important;
}

  a.logotipo-libptr-small:hover {
    text-decoration: none !important;
    color: var(--violeta-telecom-new);
  }

.logotipo-libptr-img {
}

/*
    ------------------------------------------------------------
                COMPONENTE INFORMACION DE USUARIO
    ------------------------------------------------------------
*/


/*.user-info-comp a:hover {
  text-decoration: none !important;
  background-color: transparent !important;
  color: transparent !important;
}
*/

.user-info {
  display: flex;
}

.user-info-foto {
  flex: 1;
  padding: 5px;
}

.user-info-resto {
  flex: 2;
}

.user-info-nombre {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.user-info-sector {
  padding: 0px 10px 10px 10px;
  font-size: 0.9rem;
}

.user-info-link {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: 0;
  font-size: 90%;
}

  .user-info-link:hover {
    background-color: transparent !important;
    color: black !important;
    cursor: pointer;
  }


.user-info-mini-foto {
  text-decoration: none !important;
}

  .user-info-mini-foto:hover {
    text-decoration: none !important;
  }

.user-info-comp a.restart:hover {
  text-decoration: none !important;
  background-color: transparent !important;
  color: transparent !important;
}


/*
    ------------------------------
          TOQUETEOS BOOTSTRAP
    ------------------------------
*/

